<% include partials/header %>

    <div class="container">
        <form id="search-form" method="post" action="/">
            <input id="search-field" name="search-field" type="text" placeholder="Username" autocomplete="off"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Username'">
            <button id="search-button" type="submit" name="search-button">Search</button>
        </form>
    </div>

</body>
</html>