<% include partials/header %>

    <div class="container">
        <div class="search-form-div">
            <form id="search-form" method="post" action="/">
                <input id="search-field" name="search-field" type="text" placeholder="Username" autocomplete="off"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Username'">
                <select name="platform" id="search-dropdown">
                    <option value="pc">PC</option>
                    <option value="xbl">Xbox</option>
                    <option value="psn">PlayStation</option>
                </select>
                <button id="search-button" type="submit">Search</button>
            </form>
        </div>

        <div class="index-info">
            Enter your username and select your platform. Username is case sensitive!
        </div>

    </div>

<% include partials/footer %>