<% include partials/header %>
<% var path = "/user/" + username + "/compare/platform=" + platform; %>
    <div class="container">
        <div id="error-container">
            <div id="error-message-private-compare">That user has a private profile. Change the profile visibility to public in order to view your statistics!</div>
        </div>
        <form id="return-form" method="post" action="<%= path %>">
            <button id="return-button" type="submit" name="return-button">Return to Compare Page</button>
        </form>
    </div>

<% include partials/footer %>