<% include partials/header %>

    <div class="container">
        <div id="error-container">
            <h4 id="error-message">Oops, that username does not exist!</h4>
        </div>
        <form id="return-form" method="post" action="/user-not-found">
            <button id="return-button" type="submit" name="return-button">Return to Home Page</button>
        </form>
    </div>

</body>
</html>